[submodule "themes/next5.1.4"]
	path = themes/next5.1.4
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/next7.0.1"]
    path = themes/next7.0.1
    url = https://github.com/yrxwin/hexo-theme-next
